# Configuration par défaut d'Ansible pour le projet
[defaults]
inventory          = inventory.ini
host_key_checking  = False          # ne pas bloquer à la 1re connexion SSH
interpreter_python = auto_silent
roles_path         = roles

[ssh_connection]
pipelining = True                   # accélère l'exécution des modules

[privilege_escalation]
allow_world_readable_tmpfiles = true
